<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.carrotmarket.comment.mapper.CommentMapper">


    <resultMap id="commentResultMap" type="CommentVO">
        <id property="commentId" column="comment_id" />
        <result property="productId" column="product_id" />
        <result property="userId" column="user_id" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- 댓글 등록 -->
    <insert id="insert" parameterType="CommentVO" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comment (product_id , user_id , content)
        VALUES (#{productId} , #{userId} , #{content})
    </insert>

    <!-- 댓글 단건 조회 -->
    <select id="select" parameterType="int" resultMap="commentResultMap">
        SELECT comment_id, product_id, user_id, content, created_at
        FROM comment
        WHERE comment_id = #{commentId}
    </select>


    <!-- 댓글 물건명으로 조회 -->
    <select id="selectByProductId" parameterType="int" resultMap="commentResultMap">
        SELECT comment_id , product_id , user_id , content , created_at
        FROM comment
        WHERE product_id = #{productId}
        ORDER BY created_at DESC
    </select>

    <!-- 댓글 수정 -->
    <update id="update" parameterType="CommentVO">
        UPDATE comment
        SET content = #{content}
        WHERE comment_id = #{commentId}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="delete" parameterType="CommentVO">
        DELETE FROM comment
        WHERE comment_id = #{commentId}
    </delete>

    <!-- 특정 상품의 댓글 수 카운트 -->
    <select id="countByProductId" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE product_id = #{productId}
    </select>

</mapper>