<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.carrotmarket.wishlist.mapper.WishlistMapper">

    <!-- 전체 찜 목록 조회 -->
    <select id="getList"
            resultType="org.scoula.carrotmarket.wishlist.domain.WishlistVO">

        SELECT *
        FROM wishlist
        ORDER BY wishlist_id DESC

    </select>


    <!-- 특정 사용자의 찜 목록 조회 -->
    <select id="getListByUser"
            resultType="org.scoula.carrotmarket.wishlist.domain.WishlistVO">

        SELECT *
        FROM wishlist
        WHERE user_id = #{userId}
        ORDER BY wishlist_id DESC

    </select>


    <!-- 찜 상세 조회 -->
    <select id="get"
            resultType="org.scoula.carrotmarket.wishlist.domain.WishlistVO">

        SELECT *
        FROM wishlist
        WHERE wishlist_id = #{wishlistId}

    </select>


    <!-- 찜 등록 -->
    <insert id="create">

        INSERT INTO wishlist(user_id, product_id)
        VALUES (#{userId}, #{productId})

        <selectKey resultType="Integer"
                   keyProperty="wishlistId"
                   keyColumn="wishlist_id"
                   order="AFTER">

            SELECT LAST_INSERT_ID()

        </selectKey>

    </insert>


    <!-- 찜 수정 -->
    <update id="update">

        UPDATE wishlist
        SET
            user_id = #{userId},
            product_id = #{productId}
        WHERE wishlist_id = #{wishlistId}

    </update>


    <!-- 찜 삭제 -->
    <delete id="delete">

        DELETE
        FROM wishlist
        WHERE wishlist_id = #{wishlistId}

    </delete>

</mapper>